<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="index.js"></script>
        <title>Продукт</title>
        <link rel="stylesheet" href="style.css?v=1.9">
    </head>
    <body>
        <div class="container" ng-controller="indexController">
            <div id="ProductList" class="headtextelem">
                <button class="headbutton" ng-click="createProduct()" >Добавить продукт</button>

                <table>
                    <tr>
                        <td>Наименование</td>
                        <td>Цена</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tbody>
                        <tr ng-repeat="product in ProductList">
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                <button ng-click="editProduct(product.id)" >Изменить</button>
                            </td>
                            <td>
                                <button ng-click="deleteProduct(product.id)" >Удалить</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="FormEdit" class ="divform">
                <form action="">
                    Наименование : <input class="vvod" type="text" id="ProductName" placeholder="Продукт"/>
                    <br>
                    Цена: <input class="vvod" type="number" inputmode="decimal" id="ProductPrice" step="any" />
    <!--                <input  type="hidden" id="ProductId" />-->
                    <br>
                    <button ng-click="saveProduct()" class="button" >Сохранить</button>
                    <button ng-click="loadProducts()" class="button" >Вернуться к списку</button>

                </form>
            </div>
        </div>
    </body>
</html>