<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" th:href="@{/style.css?v=1.4}">

</head>
<body>

<div class="container">
        <h1 class="headindex">Продукты</h1>
         <a th:href="@{/productAdd}" class="headbutton">Добавить продукт</a>

    <div class="headtextelem">

        <table>
            <tr>
                <td>Наименование</td>
                <td>Цена</td>
                <td></td>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}">
                <td th:text="${#numbers.formatDecimal(product.price, 0, 2)}">
                <td>
                <a th:href="@{/productEdit(id=${product.id})}">Изменить</a>
            </td>
            </tr>

        </table>
    </div>
</div>
<!--    <p th:each="product : ${products}" th:text="${product.name}" />-->
</body>
</html>
