<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продукт</title>
    <link rel="stylesheet" th:href="@{/style.css?v=1.4}">
</head>
<body>
<div class="container">
    <a th:href="@{/}" class="headbutton">Вернуться к списку</a>
    <form th:action="@{'/'}" th:object="${product}" method="post">
        Наименование : <input class="vvod" type="text" th:field="*{name}" placeholder="Продукт"/>
        <br>
        Цена: <input class="vvod" type="number" inputmode="decimal" th:field="*{price}" step="any" />
        <input  type="hidden" th:field="*{id}" />
        <br>
        <button class="button" type="submit">Сохранить</button>


    </form>
</div>
</body>
</html>
