<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

<script src="index.js"></script>
    <title>Продукт</title>
    <link rel="stylesheet" href="style.css?v=1.9">
</head>
<body>
<div class="container" ng-controller="indexController">
    <div class="" id="navbarNav">
        <ul class="">
            <li class="nav-item" ng-show="!isUserLoggedIn()">
                <form class="" ng-submit="tryToAuth()">
                    <div class="input-group input-group-sm" style="padding: 4px;">
                        <input id="navLoginField" class="vvod" ng-model="user.username" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                        <input id="navPasswordField" class="vvod" ng-model="user.password" type="password"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                        <button id="navLoginSubmit" class="headbutton"
                                style="margin-left: 10px;" type="submit">Войти
                        </button>
                    </div>
                </form>
            </li>
            <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                <button class="headbutton" ng-click="tryToLogout()">Выйти</button>
            </li>
        </ul>
    </div>
    <div id="ProductList" class="headtextelem">
        <div class="filter">
            <form novalidate ng-submit="filterPrice()" ; class="filter">
                <input class="vvod" type="number" inputmode="decimal" id="PriceMin" value="1" ng-model="Price.min"/>

                <p class="p-head"> < Цена < </p>
                <input class="vvod" type="number" inputmode="decimal" id="PriceMax" step="any" ng-model="Price.max"/>
                <!--                <input  type="hidden" id="ProductId" />-->
                <br>
                <button type="submit" class="headbutton">Применить</button>

            </form>
            <button class="headbutton" ng-click="createProduct()">Добавить продукт</button>
        </div>
        <div class="filter">
            <button class="headbutton" ng-click="findPage(-1)">PrevPage</button>
            <input class="vvod" type="number" id="Page" value="1"/>
            <button class="headbutton" ng-click="findPage(1)">NextPage</button>
        </div>
        <h1>Список продуктов</h1>
        <table>
            <tr>
                <td>Наименование</td>
                <td>Цена</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tbody>
            <tr ng-repeat="product in ProductList">
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button ng-click="editProduct(product.id)">Изменить</button>
                </td>
                <td>
                    <button ng-click="deleteProduct(product.id)">Удалить</button>
                </td>
                <td>
                    <button ng-click="addProductToBasket(product.id)">Добавить в корзину</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h1>Корзина</h1>
        <button class="headbutton" ng-click="clearBasket()">Очистить</button>
        <table>
            <tr>
                <td>Наименование</td>
                <td></td>
                <td>Количество</td>
                <td></td>
                <td>Цена</td>
            </tr>
            <tbody>
            <tr ng-repeat="product in Basket.productInformDtos">
                <td>{{product.productName}}</td>
                <td>
                    <button ng-click="delProductToBasket(product.productId)"> -</button>
                </td>
                <td>{{product.quantity}}</td>
                <td>
                    <button ng-click="addProductToBasket(product.productId)"> +</button>
                </td>
                <td>{{product.quantity}} x {{product.price}} = {{product.priceAll}}</td>
            </tr>
            <tr>
                <td> <button ng-click="saveOrder()">Оформит заказ</button></td>
                <td></td>
                <td>Итого:</td>
                <td></td>
                <td>{{Basket.price}}</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div id="FormEdit" class="divform">
        <form novalidate ng-submit="saveProduct()">
            Наименование : <input class="vvod" type="text" id="ProductName" placeholder="Продукт"
                                  ng-model="Product.title"/>
            <br>
            Цена: <input class="vvod" type="number" inputmode="decimal" id="ProductPrice" step="any"
                         ng-model="Product.price"/>
            <!--                <input  type="hidden" id="ProductId" />-->
            <br>
            <button type="submit" class="button">Сохранить</button>
            <button ng-click="loadProducts()" class="button">Вернуться к списку</button>

        </form>
    </div>
</div>
</body>
</html>